.error-text {
    color: red;
    font-size: 18px;
}

.loading {
    display: flex;
    align-items: center;
    font-size: 18px;

    .spinner {
        margin-right: 10px;
    }
}

.empty-data-text {
    font-size: 18px;
}
